
.container
{
    position: relative;
}
.background
{
   
    background-color: blueviolet;
    margin: 0;
    width: 100%;
    position: relative;
   
}

.Hubble
{
    position: absolute;
    top: 1rem;
    left: 12rem;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: large;
    color: white;
    
}
body
{
    margin: 0;
}
.illustration
{
    position: absolute;
    left: 5rem;
    top: 10rem;
    
}

.icon
{
    z-index: 1;
    position: absolute;
    width: 40px;
    height: 40px;
    left:8rem;
    top:3rem;
    fill: white;
}
.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #780fcf;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    position: relative;
    top: 20px;
    box-shadow: 4px;
  }
  
  .btn:hover {
    background: #d3bfeb;
    text-decoration: none;
  }
  .content
  {
    position: absolute;
    top: 15rem;
    left: 55rem;
    width: 30%;
    font-family: 'Poppins', sans-serif;
  }

  .community-heading
  {
      font-size:xx-large;
      color: white;
      width: 90%;
  }
  .community-description
  {
      font-weight: normal;
      line-height: 1.5;
      color:white;
   
      
  }
  .social-media
  {
      display: inline-block;
      z-index: 1;
      position: absolute;
      right: 10rem;
      bottom: 10rem;
  }